<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
    <div id="app">
        <h1>todo//</h1>
        <input type="text" v-model="todo">
        <button @click="addTodo">add</button>
        <ul>
            <todo-item v-for="todo in todos"  :todo='todo' v-if="todo.done == false"></todo-item>
        </ul>
        <h3>completed</h3>
        <p>*click to mark as done</p>
        <ul>
            <li v-for="todo in todos" v-if="todo.done == true">{{todo.text}}</li>
        </ul>
        <p>scratch prod 2018</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>